binds {
    // 打开终端
    Mod+T hotkey-overlay-title="Open a Terminal: konsole" { spawn "konsole"; }
    // 打开文件管理器
    Mod+E hotkey-overlay-title="Open a File Manager : dolphin" { spawn "dolphin";}
    // 打开剪贴板
    Mod+V { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }

    // 浮动窗口
    Mod+Shift+V { toggle-window-floating; }

    // 锁定
    Super+Alt+L hotkey-overlay-title="Lock the Screen: noctalia lock" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
}

