environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    GSK_RENDERER "ql"
    // XDG_MENU_PREFIX "plasma-"

    LC_MESSAGES "zh_CN.UTF-8"
    XMODIFIERS "@im=fcitx"

    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}
