input {
    touchpad {
        tap
        natural-scroll
        accel-speed 1
        accel-profile "flat"
    }
    mouse {
        accel-profile "flat"
    }
    keyboard {
      xkb {
        layout "us"
        options "caps:swapescape"
      }
    }
}
