window-rule {
    geometry-corner-radius 16 // 窗口的圆角半径
    clip-to-geometry true
    // opacity 0.5
    draw-border-with-background false
    // focus-ring
}

window-rule {
    match app-id="firefox$"
    match app-id="emacs$"
    match app-id="chromium$"
    open-maximized-to-edges true

}



prefer-no-csd

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
    hide-when-typing
}
