// spawn-at-startup "waybar"
spawn-at-startup "pkill fcitx5"
spawn-at-startup "fcitx5" "-r" "-d"
spawn-at-startup "sparkle"
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "xremap --watch ~/.config/xremap/config.yml"
spawn-sh-at-startup "pkill kded6"
